<div class="container-fluid mb-5 bg-light pt-3">
  <div class="row mb-3">
    <div class="col-6 col-md-8">
      <h2 class="text-center mb-5">Calculator</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Average Visit Value</h2>
          <p class="lead">How much do you make on an average patient visit?</p>
        </div>
        <div class="col-12 col-md-6">
          <input type="range" name="visit-value" id="visit-value" placeholder="200" [(ngModel)]="visitValue" min="100" max="500" step="10">
          <p class="h4 text-center">{{ visitValue | currency:'USD':true }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Average Num Visits Per Patient</h2>
          <p class="lead">How many times do you see most patients?</p>
        </div>
        <div class="col-12 col-md-6">
          <input type="range" name="num-visits" id="num-visits" placeholder="4" [(ngModel)]="numVisits" min="1" max="20" step="1">
          <p class="h4 text-center">{{ numVisits }} Visits</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Patients Per Week</h2>
          <p class="lead">How many patients do you see currently on an average week</p>
        </div>
        <div class="col-12 col-md-6">
          <input type="range" name="starting-patients" id="starting-patients" placeholder="300" [(ngModel)]="startingPatients" min="0" max="30" step="1">
          <p class="h4 text-center">{{ startingPatients }}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <h2>Goal Patients Per Week</h2>
          <p class="lead">How many patients do you WANT to see each week?</p>
        </div>
        <div class="col-12 col-md-6">
          <input type="range" name="desired-patients" id="desired-patients" placeholder="300" [(ngModel)]="desiredPatients" min="10" max="30" step="1">
          <p class="h4 text-center">{{ desiredPatients }}</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <app-results [visitValue]="visitValue" [numVisits]="numVisits" [startingPatients]="startingPatients" [desiredPatients]="desiredPatients"></app-results>
    </div>
  </div>
</div>
